*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .form {
    width: 86%;
    margin-left:161px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  .singleform {
    width: 500px;
    margin-left:80px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  input[type="time"],textarea,.formclass{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: 10px;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  div#child {
    margin: 0 auto;
}
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    /* display: block; */
    margin-bottom: 5px;
  }
  
  label.light {
    font-weight: 100;
    /* display: inline; */
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 260px;
    }
  
  }
.leftspace{
  padding-left: 151px;
}

table {
  table-layout:fixed;
  border-collapse: collapse;
  margin-left: 161px;
  align-self: center;
}
table td:nth-child(1) {
  display: none;
}
table th:nth-child(1) {
  display: none;
}
table td:nth-child(3) {
  word-break:break-word;

}
table td:nth-child(10) {

  word-break:break-word;
  /* word-wrap:break-word; */
  
}
td{
  word-break:break-word;
}
table td:nth-child(5) {

  word-break:break-word;
  /* word-wrap:break-word; */
  
}
table td:nth-child(11) {

  word-break:break-word;
  /* word-wrap:break-word; */
  
}
th{
  background-color:rgb(163, 151, 151);
}
th, td {
  padding: 8px;
  text-align: center;
  word-wrap: break-word;
  border-bottom: 1px solid rgb(20, 180, 233);
  border-right: 1px solid rgb(20, 180, 233);;
}

tr:hover {background-color:rgb(190, 171, 171);}

button{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

button active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}
ul{
  list-style:none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}


.submitt {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 2px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.submitbtn {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.submitbtn:hover {
  background-color: #f44336;
  color: white;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}

.rightAlign{
  text-align: right;
  margin-right: 20px;
}
.responsiveTable{
  overflow-x:auto;
}
.aligncenter{
  text-align: center;
}
#time{
  color: #f44336;
}



.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, .8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.box h3 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputbox {
  position: relative;
}

.box .inputbox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
}

.box .inputbox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.box .inputbox input:focus~label,
.box .inputbox input:valid~label {
  top: -18px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.box input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background: #0357f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
/* box */

.tabhide td:nth-child(4) {
  display: none;
}
.tabhide th:nth-child(5) {
  display: none;
}

.box {
  position: absolute;
  left: 50%;
  letter-spacing: 4px;
  overflow: hidden;
}

.box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0px;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

.box span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #1779ff);
  animation: line1 2s linear infinite;
}

@keyframes line1 {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

.box span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #1779ff);
  animation: line2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes line2 {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(100%);
  }
}

.box span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #1779ff);
  animation: line3 2s linear infinite;
}

@keyframes line3 {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.box span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, #1779ff);
  animation: line4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes line4 {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(-100%);
  }
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  position: absolute;
  margin-left: 480px;
  display: flex;
}

.searchTerm {
  width: 20%;
  padding: 5px;
  height: 32px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 50px;
  height: 18px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

h4{
  text-align: center;
}
h3{
  text-align: center;
  margin-top:50px;
}
.dateFilter{
margin-left: 480px;
}
.setTohide{
  display:none;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}